<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <label><a style="font-size:150%; text-decoration:none; color:#666" href="{% url 'mailing:index' %}" class="logo">MS</a></label>
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-dark" href="{% url 'mailing:users' %}">Пользователи</a>
        <a class="p-2 btn btn-outline-dark" href="{% url 'mailing:messages' %}">Сообщения</a>
        <a class="p-2 btn btn-outline-dark" href="{% url 'mailing:schedules' %}">Рассылки</a>
    </nav>
</div>